<ion-header>
  <ion-toolbar>
    <ion-title>Cadastro de Produtos</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div style="height: 100%; display: flex; align-items: center; justify-content: center;">
    <ion-card>
      <ion-item>
      <img alt="Welcome" src="https://static.vecteezy.com/ti/vetor-gratis/t2/7229427-welcome-calligraphic-inscription-with-smooth-lines-vetor.jpg" />
    </ion-item>
  
    <form [formGroup]="produtosForm" >
    
    <ion-item style="flex-direction: column">
        <ion-label position="floating">Nome</ion-label>
        <ion-input formControlName="nome" placeholder="Digite o nome do produto"></ion-input>
      </ion-item>
      <ng-container *ngFor="let erro of errorMessage.nome">
        <span class="msg-erro" *ngIf="nome.errors?.[erro.tipo] && (nome.dirty || nome.touched)">
          {{erro.aviso}}
        </span>
      </ng-container>
      
      <ion-item>
        <ion-label position="floating">Descrição</ion-label>
        <ion-input formControlName="descricao"  placeholder="Digite a descrição"></ion-input>
      </ion-item>
      <ng-container *ngFor="let erro of errorMessage.descricao">
        <span class="msg-erro" *ngIf="descricao.errors?.[erro.tipo] && (descricao.dirty || descricao.touched)">
          {{erro.aviso}}
        </span>
      </ng-container>

      <ion-item style="flex-direction: column">
        <ion-label position="floating">Data de Validade</ion-label>
        <ion-input type="date" formControlName="data" placeholder="Digite a data de validade"></ion-input>
      </ion-item>
      <ng-container *ngFor="let erro of errorMessage.data">
        <span class="msg-erro" *ngIf="data.errors?.[erro.tipo] && (data.dirty || data.touched)">
          {{erro.aviso}}
        </span>
      </ng-container>

      <ion-item style="flex-direction: column">
        <ion-label position="floating">Preço</ion-label>
        <ion-input type="number" formControlName="preco" placeholder="Digite o preço"></ion-input>
      </ion-item>
      <ng-container *ngFor="let erro of errorMessage.preco">
        <span class="msg-erro" *ngIf="preco.errors?.[erro.tipo] && (preco.dirty || preco.touched)">
          {{erro.aviso}}
        </span>
      </ng-container>
  
    </form>
    
      <ion-button (click)="cadastrar()" color="tertiary" expand="block">Cadastrar</ion-button>
  
               
         
    </ion-card>
  </div>
</ion-content>
