<ion-header>
  <ion-toolbar color="dark">
    <ion-title>Faça Login</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content color="light">
  <div style="height: 100%; display: flex; align-items: center; justify-content: center;">
  <ion-card>
    <ion-item>
    <img alt="Welcome" src="https://static.vecteezy.com/ti/vetor-gratis/t2/7229427-welcome-calligraphic-inscription-with-smooth-lines-vetor.jpg" />
  </ion-item>

  
  <form [formGroup]="loginForm" >

    <ion-item style="flex-direction: column">
      <ion-label position="floating">E-mail</ion-label>
      <ion-input type="email" formControlName="email" placeholder="Digite seu e-mail"></ion-input>
    </ion-item>
    <ng-container *ngFor="let erro of errorMessage.email">
      <span class="msg-erro" *ngIf="email.errors?.[erro.tipo] && (email.dirty || email.touched)">
        {{erro.aviso}}
      </span>
    </ng-container>
    
    <ion-item>
      <ion-label position="floating">Senha</ion-label>
      <ion-input type="password" formControlName="senha"  placeholder="Digite sua senha"></ion-input>
    </ion-item>
    <ng-container *ngFor="let erro of errorMessage.senha">
      <span class="msg-erro" *ngIf="senha.errors?.[erro.tipo] && (senha.dirty || senha.touched)">
        {{erro.aviso}}
      </span>
    </ng-container>

  </form>
  
    <ion-button (click)="login()" color="tertiary" expand="block">Entrar</ion-button>
    <ion-button (click)="registro()" color="tertiary" expand="block">Registrar</ion-button>

    
        <ion-button color="dark" expand="block">Esqueceu a senha? </ion-button>
         
       
  </ion-card>
</div>
</ion-content>
