<ion-header [translucent]="true">
  <ion-toolbar color="dark">
    <ion-title>
    Produtos Cadastrados
</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">

  <ion-button (click)="paginaCadastro()" color="dark" expand="block">
    <ion-icon  name="add-circle-outline"></ion-icon>Cadastrar Novo
  </ion-button>

  <ion-item *ngFor="let produto of listaProdutos">
    <ion-label>Produto: {{produto.nome}} <p>Descrição: {{produto.descricao}} <p>Data de Validade: {{produto.dataValidade}} <p>Preço: {{produto.preco}} </ion-label>
  </ion-item>  

</ion-content>
