<ion-header>
  <ion-toolbar>
    <ion-title>Registre-se</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content color="light">
  <div style="height: 100%; display: flex; align-items: center; justify-content: center;">
  <ion-card>
    <ion-item>
    <img alt="Welcome" src="https://static.vecteezy.com/ti/vetor-gratis/t2/7229427-welcome-calligraphic-inscription-with-smooth-lines-vetor.jpg" />
  </ion-item>
  
  <ion-item>
    <ion-label position="floating">Nome</ion-label>
    <ion-input placeholder="Digite seu nome"></ion-input>
  </ion-item>

  <ion-item>
    <ion-label position="floating">E-mail</ion-label>
    <ion-input placeholder="Digite seu e-mail"></ion-input>
  </ion-item>

    <ion-item>
      <ion-label position="floating">CPF</ion-label>
      <ion-input placeholder="Digite seu CPF"></ion-input>
    </ion-item>

    <ion-item>
      <ion-label position="floating">Senha</ion-label>
      <ion-input placeholder="Digite sua senha"></ion-input>
    </ion-item>

    <ion-item>
      <ion-label position="floating">Confirmar Senha</ion-label>
      <ion-input placeholder="Confirme sua senha"></ion-input>
    </ion-item>
    
    <ion-button color="tertiary" expand="block">Registrar</ion-button>
    <ion-button color="tertiary" fill="clear" expand="block">Voltar</ion-button>
    <ion-button color="tertiary" fill="clear" expand="block">Limpar</ion-button>
  </ion-card>
</div>
</ion-content>
